* {
  background-color: rgb(41, 2, 85);
  color: rgb(235, 218, 235);
  font-family: Arial, Helvetica, sans-serif;
}

/*BALIE*/

a {
  text-decoration: none;
  background-color: hotpink;
}

nav {
  background-color: hotpink;
  height: 3em;
}

header{
    background-color: hotpink;
}

fieldset {
  border-radius: 7px;
  border: 1px solid rgb(158, 116, 158);
}

input,
label {
  margin: 1em;
  padding: 1em;
}

input {
  height: 30px;
  width: 400px;
  border-radius: 7px;
  border: 1px solid rgb(158, 116, 158);
  padding-left: 5px;
  color:  rgb(235, 218, 235);
}

label {
  display: inline-block;
  width: 200px;
  color: rgb(235, 218, 235);
}

legend {
  color: rgb(240, 216, 240);
}

nav a {
  display: inline-block;
  margin-left: 2em;
}
/*CLASSE*/

.imageAccueil {
  display: flex;
  justify-content: center;
}

.plateau {
  max-width: 660px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.carte {
  position: relative;
  transition: all 0.6s linear;
  transform-style: preserve-3d;
  margin: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carte,
.back,
.front {
  height: 150px;
  width: 150px;
  cursor: pointer;
}

.back,
.front {
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background: url("../img/question.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.back {
  transform: rotateY(180deg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.select {
  transform: rotateY(180deg);
}

.match .front {
  background-image: none !important;
}

.carte.match {
  /* Garder les cartes visibles */
  opacity: 1;

  /* Empêcher de nouveaux clics sur les cartes déjà matchées */
  pointer-events: none;
}

.carte.match .front,
.carte.match .back {
  /* Assurer que le côté back de la carte reste visible */
  transform: rotateY(0deg);
}

/*ID*/

#btn:hover {
  background-color: rgb(197, 238, 175);
  color: rgb(60, 94, 10);
  cursor: pointer;
}


#btn {
  text-align: center;
  padding: 5px 20px;
  height: 40px;
  width: 180px;
  margin-left: 30em;
}

#bravo {
  text-align: center;
  color: hotpink;
}

#nomErreur, #prenomErreur, #emailErreur, #mdpErreur{
  color: red;
  text-align: center;
  font-size: 0.8em;
}



#progress {
  width: 300px;
  height: 20px;
  margin-left: 18em;
}

