* {
  color: rgb(235, 218, 235);
  font-family: Arial, Helvetica, sans-serif;
}

/*BALISE*/
body{
  background-color: rgb(41, 2, 85);
}
a {
  text-decoration: none;
  
}

nav {
  
  height: 3em;
}

nav a {
  display: inline-block;
  margin-left: 2em;
}
/*CLASSE*/

.header{
    background-color: hotpink;
    padding: 0.5em;
}

.imageAccueil {
  display: flex;
  justify-content: center;
}